{{! template-lint-disable no-triple-curlies }}
<div id={{@id}} class='mt-2'>
  <div class='flex flex-wrap text-grey my-1 text-xs'>
    <button type='button' class='self-start mr-1'>&#x25B2;</button>
    <LinkTo
      class='mr-1 hover:underline'
      @route='user'
      @query={{hash id=@by}}
    >{{@by}}</LinkTo>
    <span class='mr-1'>{{time-elapsed @time}}</span>
    {{#if this.isParentBtnVisible}}
      <span class='mr-1'>|</span>
      <button
        type='button'
        class='mr-1 hover:underline'
        {{on 'click' (fn this.scrollToComment @parent)}}
      >parent</button>
    {{/if}}
    {{#if this.isRootBtnVisible}}
      <span class='mr-1'>|</span>
      <button
        type='button'
        class='mr-1 hover:underline'
        {{on 'click' (fn this.scrollToComment @root)}}
      >root</button>
    {{/if}}
    {{#if this.isPreviousBtnVisible}}
      <span class='mr-1'>|</span>
      <button
        type='button'
        class='mr-1 hover:underline'
        {{on 'click' (fn this.scrollToComment @prev)}}
      >prev</button>
    {{/if}}
    {{#if this.isNextBtnVisible}}
      <span class='mr-1'>|</span>
      <button
        type='button'
        class='mr-1 hover:underline'
        {{on 'click' (fn this.scrollToComment @next)}}
      >next</button>
    {{/if}}
    <button
      type='button'
      class='hover:underline'
      {{on 'click' this.toggleCommentVisibility}}
    >
      {{#if this.isCollapsed}}
        <span>[{{@numberOfComments}} more]</span>
      {{else}}
        <span>[–]</span>
      {{/if}}
    </button>
  </div>
  {{#unless this.isCollapsed}}
    <div class='my-0.5 ml-4 text-xs break-words rendered-html'>{{{@text}}}</div>
    <div class='ml-10'>
      <CommentThread @comments={{@replies}} />
    </div>
  {{/unless}}
</div>