{{! template-lint-disable no-triple-curlies }}
<div id={{@id}} {{scroll-into-view}}>
  <div class='flex text-xs text-gray-500 my-2'>
    <button type='button' class='self-start mr-1'>&#x25B2;</button>
    <span class='mr-1'>{{@by}}</span>
    <span class='mr-1'>{{time-elapsed @time}}</span>
    <span class='mr-1'>|</span>
    {{#if this.isParentBtnVisible}}
      <button
        type='button'
        class='mr-1'
        data-scroll-to-id={{@parent}}
      >parent</button>
      <span class='mr-1'>|</span>
    {{/if}}
    {{#if this.isRootBtnVisible}}
      <button
        type='button'
        class='mr-1'
        data-scroll-to-id={{@root}}
      >root</button>
      <span class='mr-1'>|</span>
    {{/if}}
    {{#if this.isPreviousBtnVisible}}
      <button
        type='button'
        class='mr-1'
        data-scroll-to-id={{@prev}}
      >prev</button>
      <span class='mr-1'>|</span>
    {{/if}}
    {{#if this.isNextBtnVisible}}
      <button
        type='button'
        class='mr-1'
        data-scroll-to-id={{@next}}
      >next</button>
    {{/if}}
    <button type='button' {{on 'click' this.toggleCommentVisibility}}>
      {{#if this.isCollapsed}}
        <span>[{{@numberOfComments}} more]</span>
      {{else}}
        <span>[–]</span>
      {{/if}}
    </button>
  </div>
  {{#unless this.isCollapsed}}
    <div class='my-2'>{{{@text}}}</div>
    <div class='ml-8'>
      <CommentThread @comments={{@replies}} />
    </div>
  {{/unless}}
</div>