{{! template-lint-disable no-triple-curlies }}
<div class='flex text-xs text-gray-500 my-2'>
  <button type='button' class='self-start mr-1'>&#x25B2;</button>
  <span class='mr-1'>{{@by}}</span>
  <span class='mr-1'>{{time-elapsed @time}}</span>
  <span class='mr-1'>|</span>
  <button type='button' {{on 'click' this.toggleCommentVisibility}}>
    {{#if this.isCollapsed}}
      <span>[{{@numberOfComments}} more]</span>
    {{else}}
      <span>next [–]</span>
    {{/if}}
  </button>
</div>
{{#unless this.isCollapsed}}
  <div class='my-2'>{{{@text}}}</div>
  <div class='ml-8'>
    <CommentThread @comments={{@replies}} />
  </div>
{{/unless}}