<div class='my-1 flex' data-test-job-item>
  <div class='ml-4'>
    <div class='flex flex-wrap items-center'>
      <p
        data-test-job-item__title
        class='mr-1 {{if @isHeader "tracking-wide"}}'
      >{{@title}}</p>
      {{#if @url}}
        <a
          data-test-job-item__url
          href={{@url}}
          target='blank'
          class='text-grey text-xs hover:underline'
        >({{truncate-url @url}})</a>
      {{/if}}
    </div>
    <div class='flex flex-wrap items-center text-xs text-grey'>
      <LinkTo
        data-test-job-item__time
        class='hover:underline'
        @route='item'
        @query={{hash id=@id}}
      >
        {{time-elapsed @time}}
      </LinkTo>
    </div>
  </div>
</div>