{{! template-lint-disable no-triple-curlies }}
<div class='my-1 flex'>
  <div class='flex items-start text-gray-500'>
    {{#unless @isIndexHidden}}
      <span class='inline-block w-6 text-left'>{{@index}}.</span>
    {{/unless}}
    <button type='button' class='text-xs mr-1 mt-0.5'>&#x25B2;</button>
  </div>
  <div>
    <div class='flex flex-wrap items-center'>
      <p class='mr-1 {{if @isHeader "tracking-wide"}}'>{{@title}}</p>
      {{#if @url}}
        <a
          href={{@url}}
          target='blank'
          class='text-gray-500 text-xs'
        >({{truncate-url @url}})</a>
      {{/if}}
    </div>
    <div class='flex flex-wrap items-center text-xs text-gray-500'>
      <span class='mr-1'>{{@score}} points</span>
      <LinkTo class='mr-1' @route='user' @query={{hash id=@by}}>
        by
        {{@by}}
      </LinkTo>
      <LinkTo class='mr-1' @route='item' @query={{hash id=@id}}>
        {{time-elapsed @time}}
      </LinkTo>
      <span class='mr-1'>|</span>
      <button
        type='button'
        class='mr-1'
        {{on 'click' (fn @toggleItemVisibility @id)}}
      >
        {{#if @isVisible}}
          hide
        {{else}}
          un-hide
        {{/if}}
      </button>
      <span class='mr-1'>|</span>
      <LinkTo @route='item' @query={{hash id=@id}}>
        {{#if this.isNoCommentsOnStory}}
          discuss
        {{else}}
          {{@descendants}}
          comments
        {{/if}}
      </LinkTo>
    </div>
  </div>
</div>
{{#if @text}}
  <div class='ml-3 mt-2 text-gray-500'>{{{@text}}}</div>
{{/if}}