{{page-title @model.story.title replace=true}}

<Layout>
  <div class='px-2.5 pt-1'>
    <StoryItem
      @isHeader={{true}}
      @isIndexHidden={{true}}
      @by={{@model.story.by}}
      @url={{@model.story.url}}
      @title={{@model.story.title}}
      @score={{@model.story.score}}
      @time={{@model.story.time}}
      @descendants={{@model.story.descendants}}
      @text={{@model.story.text}}
      @isVisible={{@model.story.isVisible}}
      @toggleItemVisibility={{this.toggleItemVisibility}}
    />
    <AddCommentForm />
    <div class='mb-8'>
      <CommentThread @comments={{@model.comments}} />
    </div>
  </div>
</Layout>
{{outlet}}