{{page-title 'Jobs | Hacker News' replace=true}}

<Layout>
  <p class='my-3 text-grey ml-4'>
    These are jobs at YC startups. See more at
    <a
      href='https://www.ycombinator.com/jobs'
      target='_blank'
      rel='noopener noreferrer'
      class='underline'
    >newest</a>
    Show HNs.
  </p>
  <Stories
    @stories={{@model}}
    @page={{this.page}}
    @toggleItemVisibility={{this.toggleItemVisibility}}
    @isIndexAndUpvoteHidden={{true}}
    @shouldOnlyShowTimeInSubtext={{true}}
  />
</Layout>
{{outlet}}