{{page-title 'Show | Hacker News' replace=true}}

<Layout>
  <p class='my-3 text-gray-500 ml-6'>
    Please read the
    <LinkTo @route='showhn' class='underline'>rules</LinkTo>. You can also
    browse the
    <LinkTo @route='newest' class='underline'>newest</LinkTo>
    Show HNs.
  </p>
  <Stories
    @stories={{@model}}
    @page={{this.page}}
    @toggleItemVisibility={{this.toggleItemVisibility}}
  />
</Layout>
{{outlet}}